/* Apply styling to the container */
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the header */
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style the confirmation details */
  h2 {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
    text-decoration: underline;
  }
  
  /* Style the list items */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    font-size: 16px;
  }
  
  /* Add some spacing between elements */
  p {
    margin: 20px 0;
  }

  .blue-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .blue-button:hover {
    background-color: #0056b3;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    width: 200px; /* Adjust the width as needed */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  
  
  